name: build-electron

on:
  push:
    tags:
      - "v*"

jobs:
  mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bunx electron-forge make

      - uses: softprops/action-gh-release@v2
        with:
          files: out/make/**/*

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bunx electron-forge make

      - uses: softprops/action-gh-release@v2
        with:
          files: out/make/**/*

  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bunx electron-forge make

      - uses: softprops/action-gh-release@v2
        with:
          files: out/make/**/*